Assembly-CSharp.dll
UnityEngine.dll
BahaTurret.dll
mscorlib.dll
MessageWriter2.dll
ICSharpCode.SharpZipLib.dll
DarkMultiPlayer*
norm*.nlp

BDDMP/obj/
BDDMP/bin/Debug/*
BDDMP/bin/Release/*
!BDDMP/bin/Debug/BDDMP.dll
!BDDMP/bin/Debug/BDDMP.pdb
!BDDMP/bin/Release/BDDMP.dll
!BDDMP/bin/Release/BDDMP.pdb